<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <!-- Needs a Title -->
    <title><%= documentTitle %></title>
    <!-- Mobile Friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Internal bootstrap themed CSS. Reference: https://bootswatch.com/flatly/#typography-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <!-- External CSS - un-comment out the line below and create a main.css in a styles folder -->
    <!-- <link rel="stylesheet" href="styles/main.css"/> -->
    <!-- Ready-to-go icons - check out this site for a reference http://fontawesome.io/icons/ -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- For menus and common javascript things that use jquery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- For Math Formulas - Basic Configuration -->
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ extensions: ["tex2jax.js"], jax: ["input/TeX", "output/HTML-CSS"], tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ], processEscapes: true }, "HTML-CSS": { availableFonts: ["TeX"] } });
         </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  </head>

  <body>
    <!-- Keep the DIV container to add the margins and make it scalable for mobile -->

    <div class="container">
     <%= documentHTML %>
      <!-- Ending for DIV Container -->
    </div>
  </body>

</html>
