/* to change themes remove the slash and star from the ends of a line and move them to the one you don't want - shortcut is 'CTRL /' */

/*@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");*/

 /*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css"); */


/* @import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"); */


 /*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css"); */


/* @import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css"); */


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css");*/


/* @import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"); */


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css");*/


@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css");

a{
  color: #0e589a;
}

/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css");*/


/*@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css");*/


/* @import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css"); */

@import url("https://elearn.pstcc.edu/d2l/shared/nothing.css");

 /*bottom comment css file*/
